@font-face {
    font-family: "Cursive_Option";
    src: url("./cursive_option/Cursive\ Option.ttf") format("ttf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(80, 16, 0, 0.4);
}

h1 {
    font-size: 48px;
    margin-top: 32px;
    text-align: center;
}

p {
    font-size: 24px;
    margin-top: 16px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 16px;
    background-color: rgb(255 255 255 /0.5);
    box-shadow: 0 3px 3px rgb(0 0 0 /1.0);
}

h2 {
    font-size: 42px;
    text-align: center;
    margin-top: 48px;
}

button {
    padding: 8px 16px;
    background: none;
    border: none;
    font-size: 32px;
    border-bottom: 4px solid black;
    cursor: pointer;
    transition: all 0.5s;
}

img {
  width: 200px;
  height: 200px;  
}

.pre {
    font-weight: bold;
    font-family: "Cursive_Option", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.wizard {
    position: absolute;
    left: -15px;
    z-index: -1;
    transition: all 0.5s;
}

.homeContainer {
    position: relative;
    margin: 16px auto;
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 0 6px 1px black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContainer {
    width: 900px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 6px 1px black;
    margin: 16px auto;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: repeat(3, 400px);
    gap: 15px;
    padding: 16px;
    justify-content: space-between;
}

.aboutContainer {
    position: relative;
    width: 800px;
    height: 800px;
    background-color: rgb(218 175 121);
    margin: 0 auto;
    border-radius: 20px;
    padding: 32px;
}

.aboutContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(173 105 36);
    border-radius: 4px;
    box-shadow: 0 8px 1px black;
    
}

.item {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warning {
    position: absolute;
    top: 0;
}

.homeContainer:hover .wizard {
    transform: translateX(-180px) rotate(-9deg);
}

.wizard-text {
    width: fit-content;
    z-index: -1;
    position: absolute;
    left: -230px;
    top: 0;
    font-size: 16px;
    opacity: 0;
}

.homeContainer:hover .wizard-text{
    animation: wizard-time 3s ease-in-out 0.5s 1 forwards;
}


@keyframes wizard-time {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

button:hover {
    transform: translate3d(0, 2px, 32px) rotate(-4deg);
    box-shadow: 1px 1px 1px black;
    background-color: tomato;
}

/* for fun */
/* @keyframes shake {
    0% {
        transform: rotate(6deg);
    }
    25% {
        transform: translateX(30px) rotate(-6deg);
    }
    50% {
        transform: rotate(6deg);
    }
    75% {
        transform: translateX(-30px) rotate(-6deg);
    }
    100% {
        transform: rotate(0deg);
    }
} */